<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<% if session[:user] %>
		<a href="/logout">Logout</a>
	<% else %>
		<a href="/login">Login</a>
		<a href="/sign_up">Sign up</a>
	<% end %>

	<%= yield %>

	<p class='error'><%= flash[:error] %></p>
	<p class='notice'><%= flash[:notice] %></p>
</body>	
</html>