<div>
	<form method="post" action="/login">
		<p>
			<label for="login">Логін</label>
			<input id="login" type="text" name="user[login]" required>
		</p>
		<p>
			<label for="password">Пароль</label>
			<input id="password" type="password" name="user[password]" required>
		</p>
		
		<p id="panel">
			<input type="submit" value="Увійти" name="submit">
		</p>
	</form>
</div>