h1{
	color: #abc123;
}
.error{
	color: red;
}
.notice{
	color: blue;
}
table{
	border: solid #ccc 1px;
	width: 100%;
}
td, th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 5px;
    text-align: left;    
}