body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.add_button {
  border-radius: 5px;
}
.group_img {
  height: 200px;
  background-image: url(../images/nena-pasadena-1056-305911-1-product.jpg);
  background-size: auto 400px;
}
.group_title {
  margin-top: 30px;
}
.product {
  display: block;
  width: 220px;
  height: 300px;
  margin: 10px auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  float: none;
  background-color: #e8e8e8;
}
.product_img {
  display: block;
  width: auto;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 991px) {
  .product {
    width: 180px;
  }
}